<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/brand.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Catálogo</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Ofertas</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Servicios</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Carrito</a></li>
        </ul>
        <div class="row">
          <div class="col"><a href="#"><i class="fa fa-user-circle text-light mt-1 mx-3"></i></a></div>
          <div class="col"><a href="#"><i class="fa fa-shopping-cart text-light mt-1 mx-3"></i></a></div>
          <div class="col">
            <div class="btn-group mx-3">
              <button type="button" class="btn btn-light dropdown-toggle ml-3" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                (Languaje)
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button"><img src="assets/img/spain.png" width="24px" height="24px">
                  Español</button>
                <button class="dropdown-item" type="button"><img src="assets/img/american.png" width="24px"
                    height="24px"> English</button>
              </div>
              <!--descargue o elabore por su propia cuenta estas banderas en svg/png-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </nav>
</header>
